.sider {
  height: 100vh;
  background-color: #f2f2f2;
  -webkit-app-region: drag;
  &__logo {
    text-align: center;
    height: 64px;
    &--image {
      height: 64px;
      pointer-events: none;
    }
  }
  &__menu {
    background: #f2f2f2;
    -webkit-app-region: no-drag;
    &--item {
      height: 60px !important;
      display: flex;
      align-items: center;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sider__logo--image {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
